/* Fonts */

$font-stack: "Mulish", "Arial", sans-serif;


/* Colors */

$basic-white-color: #ffffff;
$basic-light-blue-color: #f0f4fd;
$basic-blue-color: #6b63ff;
$basic-dark-blue-color: #1d2140;
$basic-black-color: #000000;

$special-extra-light-pink: #fdf5f3;
$special-extra-light-blue: #ecf3ff;


/* Layouts */

$container-width: 1200px;

$tablet-width-only: 1023px;
$mobile-width-only: 767px;
$mobile-width: 320px;
